<%- include('templates/navbar') %>

<%- include('templates/background') %>

<div class = "project">
    <article class="card">
        <h2>List of Projects</h2>
        <p>Still working on this page</p>
    </article>
</div>


<%- include('templates/footer') %>