<%- include('templates/navbar') %>

<%- include('templates/background') %>

<div class = "skill-container">


    <div class ="languages">
        <article class="card">
            <div class="content">
                <h1>List of languages</h1>
                <p>Java</p>
                <p>C</p>
                <p>C++</p>
                <p>JavaScript</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>Kotlin</p>
                <p>SQL</p>
            </div>
        </article>
    </div>

    <div class ="interest">
        <article class="card">
            <div class="content">
                <h1>Main Interests are</h1>
                <p>Design Patterns</p>
                <p>Algorithms</p>
                <p>Game Development</p>
                <p>New Technology</p>
                <p>OOP</p>
                <p>Client Server</p>
                <p>Refactoring</p>
                <p>Problem Solving</p>
            </div>
        </article>
    </div>

</div>

<%- include('templates/footer') %>