/* Global */
:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

* {
    /* Tells the browser to account for any border and 
    padding in the values you specify for an element's 
    width and height. */
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: 'Source Sans Pro', serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* Nav container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    /*position: fixed; !* Add this line *!*/
    width: 100%; /* Ensure it spans the full width of the viewport */
}

/* Logo with text */
.navbar__logo {
   padding-left : 20px;
    font-size: 20px;
    color: var(--text-color);
}

.navbar__logo i {
    color: var(--accent-color);
}

/* Menu */
.navbar__menu {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 18px;
    align-items: center;

    padding-right : 20px;
}

.navbar__menu li {
    padding: 7px 40px;
    margin-right: 10px;
}

.navbar__menu li:hover {
    background-color: #d49466;
    border-radius: 40px;
}


/* Toggle button */
.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

.Bottom_bar {
    overflow: hidden;
    background-color: #263343;
    color: var(--text-color);
    position: relative;
    bottom: 0;
    text-align: center;
    height: 7%;
    width: 100%;
}

.fa-2xl {
    margin-left: 10px;
    margin-right: 10px;
}

/* home page */
.Home {
    position: relative;
    z-index: 1; /* Set a z-index higher than the background.ejs */
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}


.Home_Container {
    opacity: 0;
    transition: opacity 1.1s ease-in-out;
    max-width: 800px; /* Adjust as needed */
    /*margin: auto;*/
    padding: 20px;
    margin-bottom: 20px;
}

.Home_Container.visible {
    opacity: 1;
}

.card {
    background-color: white; /* Card background.ejs */
    border-radius: 15px; /* round card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.content p,
.content h1,
.content h2 {
    margin: 10px 0;
}

.content h1 {
    color: #333;
    font-size: 2em;
}

.content h2 {
    color: #666;
    font-size: 1.5em;
}

.content p {
    color: #999;
}

.email{
    opacity: 0;
    transition: opacity 1.1s ease-in-out;

    margin-top: 20px;
}

form input,
form textarea,
form button {
    width: 100%; /* Full width */
    margin: 10px 0; /* Spacing between form elements */
    padding: 8px; /* Padding for better user experience */

}

form textarea {
    height: 100px; /* Adjust height as needed */
}


.email h2{
    color: #333;
}
.email p{
    color: #333;
}

.email.visible {
    opacity: 1;
}

.languages{
    opacity: 0;
    transition: opacity 1.1s ease-in-out;

    position: relative;
    z-index: 1; /* Set a z-index higher than the background.ejs */
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.languages p{

    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d49466;
    color: var(--text-color);
}

.languages.visible {
    opacity: 1;
}

.interest{
    opacity: 0;
    transition: opacity 1.1s ease-in-out;

    position: relative;
    z-index: 1; /* Set a z-index higher than the background.ejs */
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.interest p{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d49466;
    color: var(--text-color);
}

.interest.visible {
    opacity: 1;
}

.skill-container {
    display: flex;
    justify-content: center; /* This centers the flex items horizontally */
    align-items: flex-start; /* This aligns the flex items to the top */
    gap: 20px; /* This adds space between the flex items */
}

.used_skill{
    opacity: 0; /* Start with the card being invisible */
    transition: opacity 1.1s ease-in-out; /* Transition effect for the opacity */


    position: relative;
    z-index: 1; /* Set a z-index higher than the background.ejs */
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.used_skill.visible {
    opacity: 1;
}

.used_skill p{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d49466;
    color: var(--text-color);
}

.project{
    opacity: 0; /* Start with the card being invisible */
    transition: opacity 1.1s ease-in-out; /* Transition effect for the opacity */
    position: relative;
    z-index: 1; /* Set a z-index higher than the background.ejs */
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.project.visible {
    opacity: 1;
}

.project h2{
    color: #333;
}

.project p{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d49466;
    color: var(--text-color);

}


/* For small screen */
@media screen and (max-width: 1200px) {
    /* Nav container */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    /* Menu */
    .navbar__menu {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .navbar__menu a {
        /* Fill in an entire line so that user can click on any space */
        display: block;
    }


    /* Toggle button */
    .navbar__toggleBtn {
        display: block;
    }

    /* When toggle button is clicked - active state */
    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}

@media (max-width: 800px) {
    .Home {
        /*display: flex;*/
        max-height: 100vh; /* Adjust as needed */
        flex-direction: column;
        justify-content: center; /* This will center the content vertically */
        align-items: center; /* This will center the content horizontally */
        overflow-y: auto; /* Add scroll to the home page content */
    }


    .used_skill{
        flex-direction: column;
        justify-content: center; /* This will center the content vertically */
        align-items: center; /* This will center the content horizontally */
        overflow-y: auto;
    }
}

@media (max-height: 750px){
    .used_skill{
        padding-top: 30vh;
        max-height: 100vh;
        flex-direction: column;
        justify-content: center; /* This will center the content vertically */
        align-items: center; /* This will center the content horizontally */
        overflow-y: auto;
    }
    .Home_Container {
        padding-top: 20vh;
    }
    .Home_Container .card {
        /*margin-bottom: 20px; !* Add some space between the cards *!*/
        /* If your cards have a fixed height, you might want to make them more responsive: */

        max-height: 100vh; /* Adjust as needed */
    }
}