<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tae Hyung Lee</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/background.css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"/>
    <!-- <title>Assignment6</title> -->
    <script src="https://kit.fontawesome.com/0ffb4e9fc1.js" crossorigin="anonymous"></script>
    <script src="../js/index.js" defer></script>
    <script src="../../server.js" defer></script>

    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                document.querySelector('.Home_Container').classList.add('visible');
            }, 400); // The delay before the class is added, in milliseconds
        });

        window.addEventListener('load', function() {
            setTimeout(function() {
                document.querySelector('.email').classList.add('visible');
            }, 600); // The delay before the class is added, in milliseconds
        });
    </script>
</head>
<body>


<!-- Nav container -->
<nav class="navbar">

    <div class="navbar__logo">
        <a href="">Tae Hyung Lee</a>
    </div>

    <!-- Menu -->
    <ul class="navbar__menu">
        <li><a href="/">About</a></li>
        <li><a href="/skill">Skill</a></li>
        <li><a href="">Project</a></li>
        <li><a href="/used-in-website">What is used in This website</a></li>
    </ul>
    <!-- Icons -->

    <!-- Toggle button -->
    <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>